/* Global styles */
body, html {
    height: 100%;
    margin: 0;
    font-family: Arial, sans-serif;
    cursor: none; /* Hide the default cursor */
    background-color: #fff; /* Default background color */
}

header {
    display: flex;
    justify-content: space-between; /* Aligns children to the start and end */
    align-items: center;
    background-color: #f1f1f1;
    padding: 10px 20px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.name {
    font-weight: bold;
}

nav {
    display: flex;
}

nav .menu-item {
    margin-left: 20px;
    text-decoration: none;
    color: black;
    background-color: white;
    border: none;
    padding: 8px 15px;
    border-radius: 10px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

nav .menu-item:hover {
    background-color: lightgray;
}

/* Custom cursor styles */
.custom-cursor {
    position: absolute;
    width: 30px;
    height: 30px;
    border: 6px solid green;
    border-radius: 50%;
    pointer-events: none;
    transform: translate(-50%, -50%);
    z-index: 1000;
}

.custom-cursor .arrow {
    content: '';
    position: absolute;
    top: 50%;
    left: 100%;
    border: solid green;
    border-width: 0 2px 2px 0;
    padding: 3px;
    transform: translate(-50%, -50%) rotate(0deg);
    transform-origin: 0% 50%;
    display: none; /* Initially hidden */
}

/* Theme toggle styles */
.theme-toggle {
    position: fixed;
    bottom: 20px;
    right: 20px;
    font-size: 24px;
    cursor: pointer;
    z-index: 2000; /* Ensure it's on top of other content */
}

/* Light mode specific styles */
body.light-mode {
    background-color: #f0f0f0; /* Light gray background */
    color: #333; /* Darker text for better readability */
}

body.light-mode .name,
body.light-mode header {
    color: #333; /* Darker text for better visibility in light mode */
    background-color: #f1f1f1; /* Light background for header */
}

/* Dark mode specific styles */
body.dark-mode {
    background-color: #333; /* Dark background */
    color: #f0f0f0; /* Light text for readability */
}

body.dark-mode .name,
body.dark-mode header {
    color: #f0f0f0; /* Light text for better visibility in dark mode */
    background-color: #444; /* Darker background for header */
}
